body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

hr {
  background-color: white;
  height: 0;
  width: 5%;
  margin: 5% auto;
  border-color: grey;
  border-width: 5px;
  border-style: none;
  border-top-style: dotted;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
}

h3 {
  color: #11999E;
}

a {
  color: #11999E;
  text-decoration: auto;
  font-weight: bolder;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

h1, h2 {
  color: #66BFBF;
}

p {
  font-size: 1em;
  line-height: 2;
}

.profile, .profile>p {
  width: 80%;
  position: relative;
  margin: 50px auto;
  text-align: inherit;
}

.skills {
  position: relative;
}

.skill-row-01 {
  width: 60%;
  margin: 50px auto 0 auto;
  text-align: left;
  height: 400px;
}

.skill-row-02 {
  width: 50%;
  margin: 50px auto;
  text-align: left;
}

.skill-row-03 {
  width: 60%;
  margin: 70px auto;
}

.skill-content {
  position: relative;
  left: 12em;
  width: 90%;
  bottom: 12em;
}

.skll-content>p, .skll-content>h3 {
  position: relative;
  right: 80%;
}

.top-container {
  background-color: #DEEDF0;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  position: relative;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  right: 60%;
}

.contact-me {
  font-size: 12px;
  position: relative;
  width: 100%;
  text-align: center;
}

.bottom-container {
  font-size: 12px;
  position: relative;
  width: 100%;
  height: 100px;
  margin-top: 50px;
  text-align: center;
  background-color: #66BFBF;
}

.bottom-container>p {
  position: relative;
  margin-bottom: 0;
  top: 30%;
  color: #EAF6F6;
}

.footer-link .btn {
  display: inline-block;
}

.skill-img-01 {
  width: 30%;
  position: relative;
  right: 10%;
  top: 20%;
  margin-right: 5%;
}

ul li::before {
  content: "⚓️ ";
}

.skill-img-02 {
  width: 30%;
  float: right;
  margin-right: 15px;
}

.skill-img-03 {
  width: 25%;
}

.btn {
  background: #3D94F6;
  background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 100;
  padding: 6px;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: solid #337FED 1px;
  background: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
